# Azure OpenAI
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4.1 # recommended
AZURE_OPENAI_API_VERSION="2025-01-01-preview"
# PostgreSQL Database
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PORT=5432
POSTGRES_DB='abc' # you can change this to your database name
SSLMODE ='require'